<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Informatik Appen</h2>
    <p>
      InformatikApp är en projekt för elever på instutionen för informatik.
      Målet är att bygga en mobil App för instutionen som är till använding för eleverna.
    </p>
    <p>
      Projektet bygger på <a href="https://ionicframework.com/">Ionic</a> vilket är ett open
      source SDK (Software Development Kit) för att bygga mobil applikationer. Ionic bygger på
      Angular.js 2.0
    </p>
    <h4>Testa appen i din telefon!</h4>
    <p>Ladda ner <a href="https://itunes.apple.com/us/app/ionic-view/id849930087?ls=1&mt=8">Ionic View</a>
    och <br>skriv in appID: <b>74dfa876</b></p>

    <div class="card">
      <div class="item item-divider">
        TODO
      </div>
      <ion-list>
        <ion-item>Design</ion-item>
        <ion-item>Maps</ion-item>
        <ion-item>Schema</ion-item>
        <ion-item>Fler ideer?</ion-item>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
