<ion-view view-title="Map">
    <ion-content class="padding">
        <iframe src="https://se.timeedit.net/web/lu/db1/ehl1/ri19565750000YQQ15Z6547067y8Y3413gQ7g6X3Y55ZQ176.html#"
                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
        <h2>Ditt schema!</h2>
        <p>Ideer:</p>
        <ul>
            <li>Göra det möjligt att spara inställningar och kurser</li>
            <li>Gör responsiv(Mbil anpassad)</li>
        </ul>
    </ion-content>
</ion-view>
